*{
    margin: 0;
    padding: 0;   
}

.main-box{
    position:absolute;
<<<<<<< HEAD
    background-image:linear-gradient(to bottom, rgba(170, 13, 243, 00.50), rgba(65, 0, 243, 0.85)), url("/img/safar-safarov.jpg");
=======
    background-image:linear-gradient(to bottom, rgba(170, 13, 243, 00.50), rgba(65, 0, 243, 0.85)), url("KanchanCS.github.io/safar-safarov.jpg");
>>>>>>> 614f6f945f6461d7201c733635edb9a59cfe0eb5
    background-size: cover;
    background-position:center center;
    width:100vw;
    height: 100vh;
}

.box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
h1{
    color:#fafafa;
    font-family: 'Times New Roman', Times, serif;
    text-transform:capitalize;
    letter-spacing: 0.2em;
    font-size:3vw;
}
p{
    padding:10px;
    color: #ffeeff;
    font-size: 18px;
}
.btn{
    border:2px solid #fff;
    border-radius: 50px;
    width:160px;
    color:#fff;
    font-size: 18px;
    text-transform: uppercase;
<<<<<<< HEAD
}
=======
}333
}
>>>>>>> 614f6f945f6461d7201c733635edb9a59cfe0eb5
